name: AutoMoney V28 Run

on:
  schedule:
    - cron: '30 */6 * * *'
  workflow_dispatch:

jobs:
  run_bot:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install libraries
        run: pip install -r requirements.txt

      - name: Run Bot
        env:
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
          WORDPRESS_URL: ${{ secrets.WORDPRESS_URL }}
          WORDPRESS_USER: ${{ secrets.WORDPRESS_USER }}
          WORDPRESS_APP_PASSWORD: ${{ secrets.WORDPRESS_APP_PASSWORD }}
        run: python bot_code.py

      - name: Save Log
        run: |
          git config --global user.name "AutoBot"
          git config --global user.email "bot@noreply.github.com"
          git add history.txt
          git diff --quiet && git diff --staged --quiet || (git commit -m "Log" && git push)
